.w3-content {
    padding: 10px 2px 10px 2px;
    background-color: bisque;
}
li {
    list-style: none;
}
.heading {
    text-align: center;
}
h2 {
    color: brown;
}
img {
    border-color: brown;
    border-radius: 25px;
    width: 100%;
    min-height: 200px;
}
a {
    color: darkblue;
}
a:hover {
    color: cornflowerblue;
}
a:visited {
    color: crimson;
}
footer {
    position:relative;
}
#floatbutton {
    border-radius: 50%;
    position:absolute;
    top:-28px;
    right:16px;
}